@media only screen
and (min-width: 1097px)
and (max-width: 3840px) {
    .table{
        text-align: center;
        font-size: 100%;
    }
}

@media only screen
and (min-width: 895px)
and (max-width: 1096px) {
    .table{
        text-align: center;
        font-size: 75%;
    }
}

@media only screen
and (min-width: 0px)
and (max-width: 894px) {
    .table{
        text-align: center;
        font-size: 50%;
    }
}